:root {
  --primary-color: #6700e5;
  --secondary-color: rgb(47, 193, 123);
  --button-disabled-opacity: 0.6;
}

.login {
  padding: 30%;
  width: 100%;
  margin-left: 140%;
  margin-top: 40%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  background: white;
  border-radius: 10px;
  box-shadow: -4px 9px 13px rgba(47, 2, 70, 0.3);
  ;

}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  }


.email1, .password {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  color: var(--secondary-color);
  font-family: 'Epilogue', sans-serif;
  height: 20px;
  padding: 0.5rem;
  width: 100%;
  margin-top: 5%;
}

.email1::placeholder, .password::placeholder {
  color: var(--primary-color);
  font-size: 0.875rem;
  font-weight: 500;
}

.button {
  background-color: var(--primary-color);
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  height: 40px;
  width: 100px;
  margin-top: 5%;
}

.button:disabled {
  background-color: var(--primary-color);
  opacity: var(--button-disabled-opacity);
}

.form {
    gap: 1rem;
  } 

.My {
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: 300;
  margin-left: 0.5rem;
}

.wallet {
  color: var(--secondary-color);
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 0.5rem;
}

