body {
  margin: 0;
  background-attachment: fixed;
  background-blend-mode: luminosity;
  background-color: rgb(47, 193, 140);
  background-image: url('../src/img/foto-fundo.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  font-family: Epilogue, Modern Antiqua, sans-serif;
}
