body {
  margin: 0;
  padding: 0;
  border: 0;
  /* background-attachment: ; */
  background-blend-mode: luminosity;
  background-color: #2a1c7b;
  background-image: url('../src/img/foto-fundo.png');
  background-size: 100%;
  font-family: Epilogue, Modern Antiqua, sans-serif;
  display: flex;
  height: 100vh;  
}
